.img {
  width: 70px;
  height: 70px;
  margin: auto;
  object-fit: contain;
}

.center {
  text-align: center;
}

.container {
  border-bottom: solid 1px #ccc;
}

.bold {
  font-weight: bold;
}

.input {
  margin: auto;
}
