.container{
    background-color: white;
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
}

.container img{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 700px;
    padding-bottom: 30px;
}

.container h1{
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 30px;
}

.container h2{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 30px;
}