.container {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  padding: 0px 0px 0px 45px;
  text-align: right;
  cursor: pointer;
}

.cart {
  color: #ffffff;
  display: inline-block;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
  position: relative;
}

.badge {
  background-color: #ffa200 !important;
  border-radius: 12px !important;
  font-size: 12px;
  line-height: 18px;
  padding: 0px 2px;
  text-align: center;
}

.drawer {
  background-color: #e2e8f0 !important;
}
