.card {
    width: 90%;
    height: 100px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.1s ease-in-out;
    margin: 10px;
  }
  
  .card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .img {
    width: 60px;
    height: 70px;
    margin-left: 10px;
    border-radius: 10px;
  }

  .img img{
    width: 60px;
    height: 70px;
    margin-left: 5px;
    border-radius: 5px;
  }

  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: black;
    font-family: 'Poppins' sans-serif;
  }
  
  .textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .span {
    font-size: 12px;
    font-weight: bold;

  }
  
.button{
  height: 20px!important;
  width: 10px!important;
  margin: 0;
  font-size: 5px;
}
  
  .p {
    font-size: 15px;
    font-weight: lighter;
  }
  
  