.container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.titulo {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  font-size: 50px;
}

.titleTable {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
}

.cardGeneral {
  border-radius: 10px;
}

.border {
  border-bottom: solid 1px #ccc;
}

.resumenText {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px #ccc;
  margin-left: 2rem;
  margin-right: 2rem;
}

.subtotalText {
  padding-left: 2rem;
  font-size: 15px;
  padding-top: 10px;
}

.totalText {
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  border-bottom: solid 1px #ccc;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 5px;
}

.button {
  background-color: black !important;
  width: 250px;
  height: 50px !important;
  font-size: 25px !important;

  border-radius: 25px !important;

  color: white !important;
  margin-bottom: 10px;
}

.btnContainer {
  text-align: center;
  margin-top: 20px;
}

.form {
  margin-left: 2rem;
  margin-right: 2rem;
}
