


.menu button {
  color: #ffffff;
  font-size: 25px;
  padding: 10px;
}

.menuList {
  background-color: #000000 !important;
}

.menuList button {
  background-color: #000000 !important;
}

.menuList a {
  background-color: #000000 !important;
}

.menu{
  background-color: #000000 !important;

}

.menuItem{
  background-color: #000000 !important;

}

