.container {
  align-items: center;
  background-color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 24px;
  padding: 15px 25px 5px 10px;
  text-align: left;
}

.logoContainer {
  padding-bottom: 10px;
  margin-left: 0;
}

.logoContainer img {
  height: 35px;
}

.menu {
  text-align: center;
}
.menu a {
  padding: 10px;
  font-size: 25px;
  color: #ffffff;
}

.menu button {
  color: #ffffff;
  font-size: 25px;
  padding: 10px;
}

.menuList {
  background-color: #000000 !important;
}

.menuList button {
  background-color: #000000 !important;
}

.menuList a {
  background-color: #000000 !important;
}
